vscode/Visy.Middleware.SAP.TravelRequest.AMG/Visy.Middleware.SAP.TravelRequest.AMG.Schemas/ProcedureResultSet.dbo.p_TRSUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns4="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/p_TRSUser" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/p_TRSUser" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.p_TRSUser</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TRSUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BPSUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrequentFlyerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WizardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsSmoker" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportNationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportPlaceOfIssue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns4:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns4:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet0" />
  <xs:complexType name="StoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TRSUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="BPSUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="FrequentFlyerNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WizardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="EmployeeNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsSmoker" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModifiedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportNationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportExpiryDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="PassportPlaceOfIssue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet1" nillable="true" type="ns4:StoredProcedureResultSet1" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet1" type="ns4:StoredProcedureResultSet1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet1" nillable="true" type="ns4:ArrayOfStoredProcedureResultSet1" />
</xs:schema>