vscode/Visy.Middleware.SAP.TravelRequest.AMG/Visy.Middleware.SAP.TravelRequest.AMG.Schemas/ProcedureResultSet.dbo.p_concord_byrequestid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/p_concord_byrequestid" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/ProceduresResultSets/dbo/p_concord_byrequestid" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">ProcedureResultSet.dbo.p_concord_byrequestid</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="StoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="GLAccountID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CostCentreCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProjectCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="InternalOrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TRSUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="CompanyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="BusinessArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoredProcedureResultSet0" nillable="true" type="ns3:StoredProcedureResultSet0" />
  <xs:complexType name="ArrayOfStoredProcedureResultSet0">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StoredProcedureResultSet0" type="ns3:StoredProcedureResultSet0" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStoredProcedureResultSet0" nillable="true" type="ns3:ArrayOfStoredProcedureResultSet0" />
</xs:schema>