vscode/Visy.Middleware.LGX.DHL/Visy.Middleware.LGX.DHL.Schemas/nsprop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:nsprop="urn:schemas-IBX:/docs/property.nsproperty" targetNamespace="urn:schemas-IBX:/docs/property.nsproperty" attributeFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/2003/05/soap-envelope" schemaLocation="SOAP-ENV.xsd"/>
	<xs:element name="properties" type="nsprop:propertiesType"/>
	<xs:complexType name="propertiesType">
		<xs:sequence>
			<xs:element ref="nsprop:identity">
				<xs:annotation>
					<xs:documentation>A unique messageID generated by the sender and used to check for duplicates received in IBX Connect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="nsprop:sentAt">
				<xs:annotation>
					<xs:documentation>Mandatory: the date of transmission to IBX Connect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="nsprop:expiresAt" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Optional. Not used for any business logic.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="nsprop:topic">
				<xs:annotation>
					<xs:documentation>Identifies the document type of the payload.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="SOAP-ENV:mustUnderstand" use="optional" default="true">
			<xs:annotation>
				<xs:documentation>The SOAP mustUnderstand attribute indicates whether a header entry is mandatory or optional for the recipient to process. If mustUnderstand="1" or "true" then this indicates that the receiver processing the Header must recognize the element. If the receiver does not recognize the element it will fail when processing the Header.
</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="identity" type="xs:string"/>
	<xs:element name="sentAt" type="xs:dateTime"/>
	<xs:element name="expiresAt" type="xs:dateTime"/>
	<xs:element name="topic" type="nsprop:topictype"/>
	<xs:simpleType name="topictype">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Order"/>
			<xs:enumeration value="ChangeOrder"/>
			<xs:enumeration value="OrderResponse"/>
			<xs:enumeration value="GoodsReceipt"/>
			<xs:enumeration value="Invoice"/>
			<xs:enumeration value="CreditNote"/>
			<xs:enumeration value="TradingPartnerUserInformation"/>
			<xs:enumeration value="CostObjectInformation"/>
			<xs:enumeration value="GLMapping"/>
			<xs:enumeration value="SupplierUploadDocument"/>
			<xs:enumeration value="OrderRequest"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
