vscode/Visy.Middleware.SAP.AMS/Visy.Middleware.SAP.AMS.Schemas/IFS_ERROR.xsd

<?xml version="1.0"?>
<xs:schema xmlns="urn:ifsworld-com:schemas:error" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:ifsworld-com:schemas:error" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="error">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errordetail" type="xs:string" />
        <xs:element minOccurs="0" name="stacktrace" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>