vscode/Visy.Middleware.Schemas.AMS/Visy.Middleware.Common.SAP.AMS.ZSTOCK01/IDoc.ZSTOCK01.740.31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZSTOCK01//740" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZSTOCK01//740" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\IDocSharedTypes1.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDoc.ZSTOCK01.740.3</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ZSTOKHD">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="ZSTOKHD000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CONTRACT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plant</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="18" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PART_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Material Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="18" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="WO_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Purchasing Document Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LINE_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Item Number of Purchasing Document</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DEL_SCH_LINE_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Delivery Schedule Line Counter</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SUPPLY_DEMAND_TYPE" nillable="true" type="ns3:ZSTOKHD_SUPPLY_DEMAND_TYPE">
        <xs:annotation>
          <xs:documentation>MRP element</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SUPPLY_DEMAND_ID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Item Number of Purchasing Document</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DEMAND_QTY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Quantity received or quantity required</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SUPPLY_QTY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Available quantity</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REQUESTED_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Receipt/Requirements date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SAP_LEAD_TIME" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Start/release date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SAP_EST_DEL_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Delivery/order finish date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="884" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZSTOKHD" nillable="true" type="ns3:ZSTOKHD" />
  <xs:simpleType name="ZSTOKHD_SUPPLY_DEMAND_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AR">
        <xs:annotation>
          <xs:documentation>Dependent reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BA">
        <xs:annotation>
          <xs:documentation>Purchase requisition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BB">
        <xs:annotation>
          <xs:documentation>Subcontractor requirements of material provided</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BE">
        <xs:annotation>
          <xs:documentation>Order item schedule line</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BP">
        <xs:annotation>
          <xs:documentation>Gross requirements planning</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BR">
        <xs:annotation>
          <xs:documentation>Process order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CH">
        <xs:annotation>
          <xs:documentation>Batch stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ER">
        <xs:annotation>
          <xs:documentation>End of replenishment lead time</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="E1">
        <xs:annotation>
          <xs:documentation>Subcontracting purchasing</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FE">
        <xs:annotation>
          <xs:documentation>Production order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FH">
        <xs:annotation>
          <xs:documentation>End of planning time fence</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IH">
        <xs:annotation>
          <xs:documentation>Maintenance order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="JI">
        <xs:annotation>
          <xs:documentation>JIT call</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IM">
        <xs:annotation>
          <xs:documentation>Actual goods receipt quantity</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IW">
        <xs:annotation>
          <xs:documentation>In plant (only relevant for IS Automotive)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KB">
        <xs:annotation>
          <xs:documentation>Individual customer stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KD">
        <xs:annotation>
          <xs:documentation>Customer independent requirement (currently not used)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="KK">
        <xs:annotation>
          <xs:documentation>Consignment stock for customer (availability check)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LA">
        <xs:annotation>
          <xs:documentation>Shipping notification</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LB">
        <xs:annotation>
          <xs:documentation>Storage location stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LC">
        <xs:annotation>
          <xs:documentation>Batch/storage location stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LE">
        <xs:annotation>
          <xs:documentation>SA schedule line</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LF">
        <xs:annotation>
          <xs:documentation>JIT delivery schedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LK">
        <xs:annotation>
          <xs:documentation>Stock with subcontractor</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LL">
        <xs:annotation>
          <xs:documentation>Forecast delivery schedule</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MB">
        <xs:annotation>
          <xs:documentation>Goods issue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MR">
        <xs:annotation>
          <xs:documentation>Reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MS">
        <xs:annotation>
          <xs:documentation>Direct production</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NE">
        <xs:annotation>
          <xs:documentation>Network order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PA">
        <xs:annotation>
          <xs:documentation>Planned order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PB">
        <xs:annotation>
          <xs:documentation>Project stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PP">
        <xs:annotation>
          <xs:documentation>Planned independent requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PR">
        <xs:annotation>
          <xs:documentation>Forecast requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QM">
        <xs:annotation>
          <xs:documentation>Inspection lot for quality management</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RP">
        <xs:annotation>
          <xs:documentation>Returns item</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RR">
        <xs:annotation>
          <xs:documentation>MRP requirement (only relevant for IS-Automotive)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RU">
        <xs:annotation>
          <xs:documentation>Confirmation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S2">
        <xs:annotation>
          <xs:documentation>Simulated requirement from availability check</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SA">
        <xs:annotation>
          <xs:documentation>Simulation order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SB">
        <xs:annotation>
          <xs:documentation>Dependent requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SF">
        <xs:annotation>
          <xs:documentation>Safety requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SH">
        <xs:annotation>
          <xs:documentation>Safety stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SI">
        <xs:annotation>
          <xs:documentation>Simulation requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SM">
        <xs:annotation>
          <xs:documentation>Sim. dependent reqmts</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SU">
        <xs:annotation>
          <xs:documentation>Total requirements</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="TB">
        <xs:annotation>
          <xs:documentation>Transfer requirements WMS</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U1">
        <xs:annotation>
          <xs:documentation>Release order for a stock transfer order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U2">
        <xs:annotation>
          <xs:documentation>Release order for a stock transfer requisition</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U3">
        <xs:annotation>
          <xs:documentation>Transfer requirement for simulation order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="U4">
        <xs:annotation>
          <xs:documentation>Release order for stock transport scheduling agreement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UB">
        <xs:annotation>
          <xs:documentation>Unplanned requirement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UL">
        <xs:annotation>
          <xs:documentation>Reservation in another plant</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UR">
        <xs:annotation>
          <xs:documentation>Stock transfer reservation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VA">
        <xs:annotation>
          <xs:documentation>Request for quotation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VB">
        <xs:annotation>
          <xs:documentation>Quotation</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VC">
        <xs:annotation>
          <xs:documentation>Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VE">
        <xs:annotation>
          <xs:documentation>SD scheduling agreement</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VF">
        <xs:annotation>
          <xs:documentation>SD scheduling agreement; external service agent</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VG">
        <xs:annotation>
          <xs:documentation>Contract</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VH">
        <xs:annotation>
          <xs:documentation>Returns from Consignation Stock at Customer</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VI">
        <xs:annotation>
          <xs:documentation>Delivery Free of Charge</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VJ">
        <xs:annotation>
          <xs:documentation>Delivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VP">
        <xs:annotation>
          <xs:documentation>Planning</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VT">
        <xs:annotation>
          <xs:documentation>Returns (availability check)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VW">
        <xs:annotation>
          <xs:documentation>External sales order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VZ">
        <xs:annotation>
          <xs:documentation>Unverified delivery</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WA">
        <xs:annotation>
          <xs:documentation>Goods issue</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WB">
        <xs:annotation>
          <xs:documentation>Plant stock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WE">
        <xs:annotation>
          <xs:documentation>Goods receipt</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WH">
        <xs:annotation>
          <xs:documentation>End replenishment period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DD">
        <xs:annotation>
          <xs:documentation>Effective-out date</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="HS">
        <xs:annotation>
          <xs:documentation>SegmentBatchStock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LS">
        <xs:annotation>
          <xs:documentation>SegmentSLocStock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CS">
        <xs:annotation>
          <xs:documentation>SegmentBatchSLoc</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WS">
        <xs:annotation>
          <xs:documentation>SegmentStock</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ZSTOKHD_SUPPLY_DEMAND_TYPE" nillable="true" type="ns3:ZSTOKHD_SUPPLY_DEMAND_TYPE" />
  <xs:complexType name="ZSTOCK01">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" minOccurs="1" maxOccurs="1" name="EDI_DC40" type="q1:EDI_DC40">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZSTOCK01" tag_offset="39" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="2147483647" name="ZSTOKHD000" type="ns3:ZSTOKHD">
        <xs:annotation>
          <xs:documentation>Stock/Requirement Header Data</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="ZSTOKHD000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>