vscode/Visy.Middleware.SAP.Lion/Visy.Middleware.SAP.Lion.Schemas/Types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Types</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ZST_CUSTMAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KUNNR" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="VTWEG" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="WERKS" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="KDMAT" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POSTX" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MATNR" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="18" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MAKTX" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="40" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZST_CUSTMAT" nillable="true" type="ns3:ZST_CUSTMAT" />
  <xs:complexType name="ArrayOfZST_CUSTMAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZST_CUSTMAT" type="ns3:ZST_CUSTMAT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZST_CUSTMAT" nillable="true" type="ns3:ArrayOfZST_CUSTMAT" />
  <xs:complexType name="ZST_KDMAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KDMAT" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="35" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZST_KDMAT" nillable="true" type="ns3:ZST_KDMAT" />
  <xs:complexType name="ArrayOfZST_KDMAT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZST_KDMAT" type="ns3:ZST_KDMAT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZST_KDMAT" nillable="true" type="ns3:ArrayOfZST_KDMAT" />
  <xs:complexType name="ZST_KUNNR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="KUNNR" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZST_KUNNR" nillable="true" type="ns3:ZST_KUNNR" />
  <xs:complexType name="ArrayOfZST_KUNNR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZST_KUNNR" type="ns3:ZST_KUNNR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZST_KUNNR" nillable="true" type="ns3:ArrayOfZST_KUNNR" />
  <xs:complexType name="ZST_VTWEG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="VTWEG" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZST_VTWEG" nillable="true" type="ns3:ZST_VTWEG" />
  <xs:complexType name="ArrayOfZST_VTWEG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZST_VTWEG" type="ns3:ZST_VTWEG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZST_VTWEG" nillable="true" type="ns3:ArrayOfZST_VTWEG" />
</xs:schema>