vscode/Visy.Middleware.Schemas.AMS/Visy.Middleware.Common.SAP.AMS.MATERIALRES_CREAT101/740_IDocOperation.MATERIALRESERVATION_CREATE101.740.3.Send.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.LobServices.Sap/2007/03/Idoc/3/MATERIALRESERVATION_CREATE101//740/Send" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Idoc/3/MATERIALRESERVATION_CREATE101//740/Send" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\740_IDoc.MATERIALRESERVATION_CREATE101.740.3.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/MATERIALRESERVATION_CREATE101//740" />
  <xs:import schemaLocation=".\740_Serialization.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDocOperation.MATERIALRESERVATION_CREATE101.740.3.Send</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Send">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.Sap/2007/03/Idoc/3/MATERIALRESERVATION_CREATE101//740/Send</doc:action>
      </xs:documentation>
      <xs:appinfo>
        <recordInfo sequence_number="1" structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </recordInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/MATERIALRESERVATION_CREATE101//740" minOccurs="1" maxOccurs="2147483647" name="idocData" nillable="true" type="q2:MATERIALRESERVATION_CREATE101">
          <xs:annotation>
            <xs:appinfo>
              <recordInfo sequence_number="1" structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="postfix" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
              </recordInfo>
            </xs:appinfo>
          </xs:annotation>
        </xs:element>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" maxOccurs="1" name="guid" nillable="true" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:annotation>
    <xs:appinfo>
      <schemaEditorExtension:schemaInfo extensionClass="Microsoft.BizTalk.FlatFileExtension.FlatFileExtension" standardName="Flat File" xmlns:schemaEditorExtension="http://schemas.microsoft.com/BizTalk/2003/SchemaEditorExtensions">
      </schemaEditorExtension:schemaInfo>
      <schemaInfo root_reference="Send" standard="Flat File" count_positions_by_byte="false" parser_optimization="complexity" allow_early_termination="true" default_pad_char=" " pad_char_type="char" allow_message_breakup_of_infix_root="false" compile_parse_tables="false" suppress_empty_nodes="true" generate_empty_nodes="false" early_terminate_optional_fields="true" xmlns="http://schemas.microsoft.com/BizTalk/2003">
      </schemaInfo>
    </xs:appinfo>
  </xs:annotation>
</xs:schema>