vscode/Visy.Middleware.SAP.Glass.ThingWorx/Visy.Middleware.SAP.Glass.ThingWorx.Schemas/RfcBak.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Rfc/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\Types.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Rfc</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="ZITF_E07003_GRB2B">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.Sap/2007/03/Rfc/ZITF_E07003_GRB2B</doc:action>
        <doc:description xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">The Metadata for this RFC was generated using the .Net Connector.</doc:description>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RETURN" nillable="true" type="ns3:ArrayOfBAPIRET2">
          <xs:annotation>
            <xs:documentation>Return Parameter</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="T_HUNUM" nillable="true" type="ns3:ArrayOfZITF_E07003_HUNUM">
          <xs:annotation>
            <xs:documentation>HU Numbers</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ZITF_E07003_GRB2BResponse">
    <xs:annotation>
      <xs:documentation>
        <doc:action xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">http://Microsoft.LobServices.Sap/2007/03/Rfc/ZITF_E07003_GRB2B/response</doc:action>
        <doc:description xmlns:doc="http://schemas.microsoft.com/servicemodel/adapters/metadata/documentation">The Metadata for this RFC was generated using the .Net Connector.</doc:description>
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="RETURN" nillable="true" type="ns3:ArrayOfBAPIRET2">
          <xs:annotation>
            <xs:documentation>Return Parameter</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="1" name="T_HUNUM" nillable="true" type="ns3:ArrayOfZITF_E07003_HUNUM">
          <xs:annotation>
            <xs:documentation>HU Numbers</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>