vscode/Visy.Middleware.SAP.Glass.ThingWorx/Visy.Middleware.SAP.Glass.ThingWorx.Schemas/TypesBak.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Rfc/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Types</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="BAPIRET2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="TYPE" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ID" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NUMBER" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MESSAGE" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="220" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOG_NO" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOG_MSG_NO" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:totalDigits value="6" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MESSAGE_V1" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MESSAGE_V2" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MESSAGE_V3" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MESSAGE_V4" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PARAMETER" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ROW" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="FIELD" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SYSTEM" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BAPIRET2" nillable="true" type="ns3:BAPIRET2" />
  <xs:complexType name="ArrayOfBAPIRET2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BAPIRET2" type="ns3:BAPIRET2" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBAPIRET2" nillable="true" type="ns3:ArrayOfBAPIRET2" />
  <xs:complexType name="ZITF_E07003_HUNUM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="HU_NUM" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZITF_E07003_HUNUM" nillable="true" type="ns3:ZITF_E07003_HUNUM" />
  <xs:complexType name="ArrayOfZITF_E07003_HUNUM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZITF_E07003_HUNUM" type="ns3:ZITF_E07003_HUNUM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZITF_E07003_HUNUM" nillable="true" type="ns3:ArrayOfZITF_E07003_HUNUM" />
</xs:schema>