vscode/Visy.Middleware.Schemas.AMS/Visy.Middleware.Common.SAP.AMS.ZINTERNALORDER01/IDoc.ZINTERNAL_ORDER01.620.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZINTERNAL_ORDER01//620" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZINTERNAL_ORDER01//620" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\IDocSharedTypes.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDoc.ZINTERNAL_ORDER01.620.3</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="E1BP2075_MASTERDATA_ALE">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="E2BP2075_MASTERDATA_ALE002" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDERID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDER_TYPE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order Type</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDER_CATG" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_ORDER_CATG">
        <xs:annotation>
          <xs:documentation>Order category</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EXT_ORD_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>External order number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SHORT_TEXT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Short text</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="40" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTERED_BY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Entered by</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTER_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Created on</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ENTER_TIME" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Time created</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CHANGED_BY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Last changed by</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CHANGE_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Change date for Order Master</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CHANGE_TIME" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Changed at</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REFERENCE_ORDER" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Reference order number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CO_AREA" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Controlling Area</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="COMP_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Company Code</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BUS_AREA" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Business Area</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLANT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plant</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PROFIT_CTR" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Profit Center</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RESPCCTR" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Responsible Cost Center</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOCATION" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Location</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOCATION_PLANT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Location plant</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="WBS_ELEMENT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Work Breakdown Structure Element (WBS Element)</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="24" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REQUEST_CCTR" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Requesting cost center</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REQUEST_COMP_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Requesting company code</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SALES_ORD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sales Order Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="S_ORD_ITEM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Item Number in Sales Order</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TAXJURCODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Jurisdiction for Tax Calculation - Tax Jurisdiction Code</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLANINTEGRATED" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PLANINTEGRATED">
        <xs:annotation>
          <xs:documentation>Indicator for Integrated Planning</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STATISTICAL" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_STATISTICAL">
        <xs:annotation>
          <xs:documentation>Identifier for statistical order</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CCTR_POSTED" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Cost center to which costs are actually posted</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REVENUES" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_REVENUES">
        <xs:annotation>
          <xs:documentation>Identifier "Revenue posting allowed"</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLAN_WITH_LINE_ITEMS" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PLAN_WITH_LINE_ITEMS">
        <xs:annotation>
          <xs:documentation>Identifier for planning with line items</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CURRENCY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order Currency</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ISO_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>ISO currency code</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RES_ANAL_KEY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Results Analysis Key</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CSTG_SHEET" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Costing Sheet</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OVERHEAD_KEY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Overhead key</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="INTEREST_PROF" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Interest Profile for Project/Order Interest Calculation</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="7" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="APPLICANT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sales Order</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="APPLICANT_PHONE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Sales Order Item</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PERSON_RESP" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Telephone</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PERSON_RESP_PHONE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Telephone number of person in charge</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ESTIMATED_COSTS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Estimated Overall Costs of the Order for BAPIs</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="25" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="APPLICATION_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Application date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DEPARTMENT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Department</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATE_WORK_BEGINS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Work Start</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATE_WORK_ENDS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>End of Work</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="WORK_PERMIT" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_WORK_PERMIT">
        <xs:annotation>
          <xs:documentation>Identifier for work permit issued</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PROCESSING_GROUP" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Processing group</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="INVEST_PROFILE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Investment measure profile</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SCALE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Scale of investment objects</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="INV_REASON" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Reason for investment</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ENVIR_INVEST" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Reason for environmental investment</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDER_STATUS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order status</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LAST_STAT_CHANGE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Date of last status change</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REACHED_STATUS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Status reached so far</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PHASE_CREATE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_CREATE">
        <xs:annotation>
          <xs:documentation>Phase "Order created"</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PHASE_RELEASE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_RELEASE">
        <xs:annotation>
          <xs:documentation>Phase "Order released"</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PHASE_COMPLETION" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_COMPLETION">
        <xs:annotation>
          <xs:documentation>Phase "order completed"</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PHASE_CLOSE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_CLOSE">
        <xs:annotation>
          <xs:documentation>Phase "order closed"</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLN_RELEASE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Planned release date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLN_COMPLETION" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Planned completion date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLN_CLOSE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Planned closing date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATE_RELEASE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Release date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATE_COMPLETION" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Technical completion date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATE_CLOSE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Close date</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DISALLOWED_T_GRP" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Group of disallowed transactions</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DELETION_FLAG" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_DELETION_FLAG">
        <xs:annotation>
          <xs:documentation>Deletion flag</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OBJECTCLASS" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_OBJECTCLASS">
        <xs:annotation>
          <xs:documentation>Object Class</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOGSYSTEM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Logical System</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JOINT_VENTURE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Joint Venture</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RECOVERY_IND" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Recovery Indicator</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EQUITY_TYPE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Equity type</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JV_OBJECT_TYPE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Joint Venture Object Type</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JV_JIB_CLASS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>JIB/JIBE Class</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JV_JIB_SUB_CLASS_A" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>JIB/JIBE Subclass A</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="JV_ORIG_COST_OBJ" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_JV_ORIG_COST_OBJ">
        <xs:annotation>
          <xs:documentation>JV original cost object</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REQUEST_ORDER" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Requesting order</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FUNC_AREA" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Functional Area</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FUNC_AREA_LONG" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Functional Area</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="393" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E1BP2075_MASTERDATA_ALE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_ORDER_CATG">
    <xs:restriction base="xs:string">
      <xs:enumeration value="01">
        <xs:annotation>
          <xs:documentation>Internal Order (Controlling)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="02">
        <xs:annotation>
          <xs:documentation>Accrual Calculation Order (Controlling)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="03">
        <xs:annotation>
          <xs:documentation>Model Order (Controlling)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="04">
        <xs:annotation>
          <xs:documentation>CO Production Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="05">
        <xs:annotation>
          <xs:documentation>Product Cost Collector</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="06">
        <xs:annotation>
          <xs:documentation>QM Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="10">
        <xs:annotation>
          <xs:documentation>PP Production Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="20">
        <xs:annotation>
          <xs:documentation>Network</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="30">
        <xs:annotation>
          <xs:documentation>Maintenance order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Process Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="50">
        <xs:annotation>
          <xs:documentation>Inspection Lot</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="60">
        <xs:annotation>
          <xs:documentation>Personnel Order</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="70">
        <xs:annotation>
          <xs:documentation>Shipping deadlines</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_ORDER_CATG" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_ORDER_CATG" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PLANINTEGRATED">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PLANINTEGRATED" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PLANINTEGRATED" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_STATISTICAL">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_STATISTICAL" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_STATISTICAL" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_REVENUES">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>allowed</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_REVENUES" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_REVENUES" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PLAN_WITH_LINE_ITEMS">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PLAN_WITH_LINE_ITEMS" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PLAN_WITH_LINE_ITEMS" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_WORK_PERMIT">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Work permit issued</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_WORK_PERMIT" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_WORK_PERMIT" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PHASE_CREATE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PHASE_CREATE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_CREATE" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PHASE_RELEASE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PHASE_RELEASE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_RELEASE" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PHASE_COMPLETION">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PHASE_COMPLETION" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_COMPLETION" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_PHASE_CLOSE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_PHASE_CLOSE" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_PHASE_CLOSE" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_DELETION_FLAG">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_DELETION_FLAG" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_DELETION_FLAG" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_OBJECTCLASS">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OC">
        <xs:annotation>
          <xs:documentation>Overhead costs</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IV">
        <xs:annotation>
          <xs:documentation>Investment</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PR">
        <xs:annotation>
          <xs:documentation>Production</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PA">
        <xs:annotation>
          <xs:documentation>Profit analysis</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_OBJECTCLASS" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_OBJECTCLASS" />
  <xs:simpleType name="E1BP2075_MASTERDATA_ALE_JV_ORIG_COST_OBJ">
    <xs:restriction base="xs:string">
      <xs:enumeration value="P">
        <xs:annotation>
          <xs:documentation>object type for projects</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="O">
        <xs:annotation>
          <xs:documentation>object type for orders</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="C">
        <xs:annotation>
          <xs:documentation>object type for costcenters</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_MASTERDATA_ALE_JV_ORIG_COST_OBJ" nillable="true" type="ns3:E1BP2075_MASTERDATA_ALE_JV_ORIG_COST_OBJ" />
  <xs:complexType name="E1BP2075_STATUSHEADER_ALE">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="E2BP2075_STATUSHEADER_ALE000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDERID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STAT_PROF" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Status profile</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="980" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E1BP2075_STATUSHEADER_ALE" nillable="true" type="ns3:E1BP2075_STATUSHEADER_ALE" />
  <xs:complexType name="E1BP2075_OBJECTSTATUS_ALE">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="E2BP2075_OBJECTSTATUS_ALE000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ORDERID" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Order Number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STATUS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Object status</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="INACTIVE" nillable="true" type="ns3:E1BP2075_OBJECTSTATUS_ALE_INACTIVE">
        <xs:annotation>
          <xs:documentation>Flag: Status inactive</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="982" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="E1BP2075_OBJECTSTATUS_ALE" nillable="true" type="ns3:E1BP2075_OBJECTSTATUS_ALE" />
  <xs:simpleType name="E1BP2075_OBJECTSTATUS_ALE_INACTIVE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Not active</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="E1BP2075_OBJECTSTATUS_ALE_INACTIVE" nillable="true" type="ns3:E1BP2075_OBJECTSTATUS_ALE_INACTIVE" />
  <xs:complexType name="ZINTERNAL_ORDER01">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" minOccurs="1" maxOccurs="1" name="EDI_DC40" type="q1:EDI_DC40">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZINTERNAL_ORDER01" tag_offset="39" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="E2BP2075_MASTERDATA_ALE002" type="ns3:E1BP2075_MASTERDATA_ALE">
        <xs:annotation>
          <xs:documentation>Create Order Master Data for BAPIs in ALE Scenario</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="E2BP2075_MASTERDATA_ALE002" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="E2BP2075_STATUSHEADER_ALE000" type="ns3:E1BP2075_STATUSHEADER_ALE">
        <xs:annotation>
          <xs:documentation>Status Information (Hdr) when Setting Status in ALE Scenario</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="3" tag_name="E2BP2075_STATUSHEADER_ALE000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="999999999" name="E2BP2075_OBJECTSTATUS_ALE000" type="ns3:E1BP2075_OBJECTSTATUS_ALE">
        <xs:annotation>
          <xs:documentation>Individual Object Status when Setting Status in ALE Scenario</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="4" tag_name="E2BP2075_OBJECTSTATUS_ALE000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>