vscode/Visy.Middleware.SAP.StoraEnso/Visy.Middleware.SAP.StoraEnso.Schemas/DeliveryMessageV2R11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Arthur Colman (Drybridge Consulting) -->
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="V2R11">
	<xs:include schemaLocation="papiNetCommonDefsV2R11.xsd"/>
	<!--Copyright 2000-2003  papiNet G.I.E (papiNet), International Digital Enterprise Alliance, Inc. (IDEAlliance), and American Forest and Paper Association, Inc. (AFPA), collectively Copyright Owner. All rights reserved by the Copyright Owner under the laws of the United States, Belgium, the European Economic Community, and all states, domestic and foreign.  For support, more information, or to report implementation bugs, please contact papiNet at www.papiNet.org.-->
	<xs:element name="DeliveryMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeliveryMessageHeader"/>
				<xs:element ref="DeliveryMessageLineItem" maxOccurs="unbounded"/>
				<xs:element ref="DeliveryMessageSummary"/>
			</xs:sequence>
			<xs:attribute name="DeliveryMessageType" type="deliveryMessageType" use="required"/>
			<xs:attribute name="DeliveryMessageStatusType" type="deliveryMessageStatusType" use="required"/>
			<xs:attribute name="Reissued" type="yesNo" default="No"/>
			<xs:attribute name="Language" type="languageType" default="eng"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryMessageHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeliveryMessageNumber"/>
				<xs:element ref="TransactionHistoryNumber" minOccurs="0"/>
				<xs:element ref="DeliveryMessageDate"/>
				<xs:element ref="DeliveryMessageReference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BuyerParty"/>
				<xs:element ref="BillToParty" minOccurs="0"/>
				<xs:element ref="SupplierParty"/>
				<xs:element ref="OtherParty" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SenderParty" minOccurs="0"/>
				<xs:element ref="ReceiverParty" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ShipToCharacteristics"/>
				<xs:element ref="AdditionalText" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DeliveryLeg" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryMessageLineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeliveryMessageLineItemNumber"/>
				<xs:element ref="PurchaseOrderInformation"/>
				<xs:element ref="PurchaseOrderLineItemNumber" minOccurs="0"/>
				<xs:element ref="DeliveryMessageReference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Product"/>
				<xs:element ref="NumberOfPackages"/>
				<xs:element ref="Quantity"/>
				<xs:element ref="InformationalQuantity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TransportOtherInstructions" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BillToParty" minOccurs="0"/>
				<xs:element ref="MillCharacteristics" minOccurs="0"/>
				<xs:element ref="PackageInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ShipmentComplete" type="yesNo" default="No"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeliveryMessageSummary">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TotalNumberOfLineItems" minOccurs="0"/>
				<xs:sequence maxOccurs="unbounded">
					<xs:element ref="TotalQuantity"/>
					<xs:element ref="TotalInformationalQuantity" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="TermsAndDisclaimers" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
