vscode/Visy.Middleware.SAP.BO.MeterDynamics/Visy.Middleware.SAP.BO.MeterDynamics.Schemas/Table.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="MeteringDynamics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="measurement_point" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="manufacturer_no" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="meter_id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reading_datetime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity_id" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reading_value" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="32" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeteringDynamics" nillable="true" type="ns3:MeteringDynamics" />
  <xs:complexType name="ArrayOfMeteringDynamics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeteringDynamics" type="ns3:MeteringDynamics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeteringDynamics" nillable="true" type="ns3:ArrayOfMeteringDynamics" />
</xs:schema>