vscode/Visy.Middleware.SAP.OfficeWorks/Visy.Middleware.SAP.OfficeWorks.Schemas/IDoc.ZADSHNO02.740.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\IDocSharedTypes.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDoc.ZADSHNO02.740.3</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ZASN_HEADER">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="ZASN_HEADER000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IDENTIFIER_UNB" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 80</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="80" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IDENTIFIER_UNH" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 80</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="80" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ASN_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IDOC_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DESPATCH_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DELIVERY_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SHIPMENT_STATUS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 15</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PO_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PO_DATE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SUPPLIER_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SHIP_TO_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OVERALL_HEADER" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Comment</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="50" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NUMBER_OF_HU" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="685" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" name="ZASN_HEADER" nillable="true" type="q11:ZASN_HEADER" />
  <xs:complexType name="ZASN_LOCATION">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="ZASN_LOCATION000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IDENTIFIER_CPS" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 80</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="80" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IDENTIFIER_LIN" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 80</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="80" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOCATION_CODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 20</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="820" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q12="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" name="ZASN_LOCATION" nillable="true" type="q12:ZASN_LOCATION" />
  <xs:complexType name="ZASN_HUDETAILS">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="ZASN_HUDETAILS000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ITEM_TYPE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PCI" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SSCC_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 20</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EAN_NO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Char 20</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="20" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="QTY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Character Field Length = 10</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="920" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q13="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" name="ZASN_HUDETAILS" nillable="true" type="q13:ZASN_HUDETAILS" />
  <xs:complexType name="ZASN_LOCATION000GRP">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q14="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" minOccurs="1" maxOccurs="1" name="ZASN_LOCATION000" type="q14:ZASN_LOCATION">
        <xs:annotation>
          <xs:documentation>ASN Location Item for Officework</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZASN_LOCATION000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q15="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" minOccurs="0" maxOccurs="2147483647" name="ZASN_HUDETAILS000" type="q15:ZASN_HUDETAILS">
        <xs:annotation>
          <xs:documentation>ASN Handling Uni Item for Officework</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="ZASN_HUDETAILS000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZASN_HEADER000GRP">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q16="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" minOccurs="1" maxOccurs="1" name="ZASN_HEADER000" type="q16:ZASN_HEADER">
        <xs:annotation>
          <xs:documentation>ASN Header for Officework</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZASN_HEADER000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q17="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" minOccurs="0" maxOccurs="2147483647" name="ZASN_LOCATION000GRP" type="q17:ZASN_LOCATION000GRP">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="2" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZADSHNO02">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q18="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" minOccurs="1" maxOccurs="1" name="EDI_DC40" type="q18:EDI_DC40">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZADSHNO02" tag_offset="39" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element xmlns:q19="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZADSHNO02//740" minOccurs="1" maxOccurs="2147483647" name="ZASN_HEADER000GRP" type="q19:ZASN_HEADER000GRP">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="2" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>