vscode/Visy.Middleware.Schemas.SAP/Visy.Middleware.Common.Schemas.SAP.ZSM_STKLOC/IDoc.ZSM_STKLOC.740.3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZSM_STKLOC//740" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/ZSM_STKLOC//740" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation=".\IDocSharedTypes.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" />
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDoc.ZSM_STKLOC.740.3</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="ZSM_STKLC">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" default="ZSM_STKLC000" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STORLOC" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Storage Location</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="LOCNAM" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Storage Bin</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="80" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CITY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>City</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="100" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="COUNTRY" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Country Key</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PHONENO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Telephone no.: dialling code+number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="REGION" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Region (State, Province, County)</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="100" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STREET" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Street</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="255" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POSTCODE" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>City postal code</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="100" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FAX" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>First fax no.: dialling code+number</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STORBIN" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Storage Bin</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PLANT" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Plant</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="WHNO" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Warehouse Number / Warehouse Complex</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="100" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="STORTYP" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Storage Type</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SREMBLK" nillable="true" type="ns3:ZSM_STKLC_SREMBLK">
        <xs:annotation>
          <xs:documentation>Blocking Indicator: For Stock Removals (User)</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PUTABLK" nillable="true" type="ns3:ZSM_STKLC_PUTABLK">
        <xs:annotation>
          <xs:documentation>Blocking indicator: for putaways (user)</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="INVBLK" nillable="true" type="ns3:ZSM_STKLC_INVBLK">
        <xs:annotation>
          <xs:documentation>Blocking indicator: current inventory (system)</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:documentation>Padding White Spaces against the Total Segment Length</xs:documentation>
          <xs:appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="172" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZSM_STKLC" nillable="true" type="ns3:ZSM_STKLC" />
  <xs:simpleType name="ZSM_STKLC_SREMBLK">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ZSM_STKLC_SREMBLK" nillable="true" type="ns3:ZSM_STKLC_SREMBLK" />
  <xs:simpleType name="ZSM_STKLC_PUTABLK">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ZSM_STKLC_PUTABLK" nillable="true" type="ns3:ZSM_STKLC_PUTABLK" />
  <xs:simpleType name="ZSM_STKLC_INVBLK">
    <xs:restriction base="xs:string">
      <xs:enumeration value="X">
        <xs:annotation>
          <xs:documentation>Yes</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="">
        <xs:annotation>
          <xs:documentation>Initial: Accept blanks</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ZSM_STKLC_INVBLK" nillable="true" type="ns3:ZSM_STKLC_INVBLK" />
  <xs:complexType name="ZSM_STKLOC">
    <xs:annotation>
      <xs:appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" minOccurs="1" maxOccurs="1" name="EDI_DC40" type="q1:EDI_DC40">
        <xs:annotation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="ZSM_STKLOC" tag_offset="39" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="9999" name="ZSM_STKLC000" type="ns3:ZSM_STKLC">
        <xs:annotation>
          <xs:documentation>Segment type for Storage Location</xs:documentation>
          <xs:appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="ZSM_STKLC000" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>