vscode/Visy.Middleware.SAP.HR/Visy.Middleware.SAP.HR.Schemas/WCFTable.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="tBPS_Chris21_ADDRESS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_NUMBERA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_TYPEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_LINE_1A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="30" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_LINE_2A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_LINE_3A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_LINE_4A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_STATEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_PST_CODEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_AREA_CODA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_PHONEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="12" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_MOBILEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="14" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_CNT_SURA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="24" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_CNT_NAMEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ADR_CNT_RELA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="9" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordStatus" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Created_Date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tBPS_Chris21_ADDRESS" nillable="true" type="ns3:tBPS_Chris21_ADDRESS" />
  <xs:complexType name="ArrayOftBPS_Chris21_ADDRESS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tBPS_Chris21_ADDRESS" type="ns3:tBPS_Chris21_ADDRESS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftBPS_Chris21_ADDRESS" nillable="true" type="ns3:ArrayOftBPS_Chris21_ADDRESS" />
  <xs:complexType name="tBPS_Chris21_EMDET">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_NUMBERA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_SURNAMEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_G1_NAME1A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_G1_NAME2A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_PREF_NMA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_BIR_DATED" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DET_DATE_JNDD" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DET_SEXA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TER_DATED" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DET_TELEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SMN_DATEC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SMN_AMOUNTN" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SMN_PKG" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SMN_SAL_SACRIFICE" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SMN_SAL_SACRIFICE_CAR" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_START_DTC" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_FUND_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_EMP_AMTN" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_COM_AMTN" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_295" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="SUP_296" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="ALW_AMOUNT" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="YTV_YTD_AMTN" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="JULY_BONUS" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="JULY_PACKAGE" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="ANNUAL_LEAVE" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="1" name="PYD_TYPEA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FILLER_06A" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="149" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordStatus" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OHSRecordStatus" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Created_Date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tBPS_Chris21_EMDET" nillable="true" type="ns3:tBPS_Chris21_EMDET" />
  <xs:complexType name="ArrayOftBPS_Chris21_EMDET">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tBPS_Chris21_EMDET" type="ns3:tBPS_Chris21_EMDET" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftBPS_Chris21_EMDET" nillable="true" type="ns3:ArrayOftBPS_Chris21_EMDET" />
  <xs:complexType name="tBPS_Chris21_POSITION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="POSITION_ID" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DET_NUMBERA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PARENT_POSITION_ID" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POSITION_DESCRIPTION" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="60" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UserId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="PositionStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L1_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L2_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L3_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L4_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L5_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="POS_L6_CDA" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="7" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Created_Date" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tBPS_Chris21_POSITION" nillable="true" type="ns3:tBPS_Chris21_POSITION" />
  <xs:complexType name="ArrayOftBPS_Chris21_POSITION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tBPS_Chris21_POSITION" type="ns3:tBPS_Chris21_POSITION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftBPS_Chris21_POSITION" nillable="true" type="ns3:ArrayOftBPS_Chris21_POSITION" />
</xs:schema>