vscode/Visy.Middleware.SAP.Magento/Visy.Middleware.SAP.Magento.Schemas/Magento/customerCustomerListRequest.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="urn:Magento" targetNamespace="urn:Magento" id="customerCustomerListRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation=".\MagentoService_Magento.xsd" />
  <xs:element name="customerCustomerList">
    <xs:annotation>
      <xs:documentation>Wrapper element for message "customerCustomerListRequest" of RPC operation "customerCustomerList".</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sessionId" type="xs:string" />
        <xs:element name="filters" type="tns:filters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>