vscode/Visy.Middleware.Schemas.AMS/Visy.Middleware.Common.SAP.AMS.INFREC01/IDoc.INFRECMASS01.620.3__x3620.xsd

<?xml version="1.0"?>
<schema xmlns:ns3="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/INFRECMASS01//620" elementFormDefault="qualified" targetNamespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/3/INFRECMASS01//620" version="1.0" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation=".\IDoc.INFRECMASS01.620.3_Common.xsd" namespace="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" />
  <annotation>
    <appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">IDoc.INFRECMASS01.620.3</fileNameHint>
    </appinfo>
  </annotation>
  <complexType name="E1EINAM">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EINAM003" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MSGFN" nillable="true" type="ns3:E1EINAM_MSGFN">
        <annotation>
          <documentation>Function</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="INFNR" nillable="true" type="string">
        <annotation>
          <documentation>Number of purchasing info record</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MATNR" nillable="true" type="string">
        <annotation>
          <documentation>Material Number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="18" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MATKL" nillable="true" type="string">
        <annotation>
          <documentation>Material Group</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="9" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LIFNR" nillable="true" type="string">
        <annotation>
          <documentation>Account Number of the Vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LOEKZ" nillable="true" type="ns3:E1EINAM_LOEKZ">
        <annotation>
          <documentation>Purchasing info: General data flagged for deletion</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ERDAT" nillable="true" type="string">
        <annotation>
          <documentation>Date on which the record was created</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ERNAM" nillable="true" type="string">
        <annotation>
          <documentation>Name of Person who Created the Object</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TXZ01" nillable="true" type="string">
        <annotation>
          <documentation>Short text for purchasing info record</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="40" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SORTL" nillable="true" type="string">
        <annotation>
          <documentation>Sort string for non-stock info records</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MEINS" nillable="true" type="string">
        <annotation>
          <documentation>Order unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UMREZ" nillable="true" type="string">
        <annotation>
          <documentation>Numerator for Conversion of Order Unit to Base Unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UMREN" nillable="true" type="string">
        <annotation>
          <documentation>Denominator for Conversion of Order Unit to Base Unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="IDNLF" nillable="true" type="string">
        <annotation>
          <documentation>Material number used by vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="22" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="VERKF" nillable="true" type="string">
        <annotation>
          <documentation>Salesperson responsible in the event of queries</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TELF1" nillable="true" type="string">
        <annotation>
          <documentation>Vendor's telephone number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MAHN1" nillable="true" type="string">
        <annotation>
          <documentation>Number of days for first reminder/urging letter (expediter)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MAHN2" nillable="true" type="string">
        <annotation>
          <documentation>Number of days for second reminder/urging letter (expediter)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MAHN3" nillable="true" type="string">
        <annotation>
          <documentation>Number of days for third reminder/urging letter (expediter)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="URZNR" nillable="true" type="string">
        <annotation>
          <documentation>Certificate number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="URZDT" nillable="true" type="string">
        <annotation>
          <documentation>Certificate of origin valid until</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="URZLA" nillable="true" type="string">
        <annotation>
          <documentation>Certificate of origin: Country of issue</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="URZTP" nillable="true" type="string">
        <annotation>
          <documentation>Certificate category</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="URZZT" nillable="true" type="string">
        <annotation>
          <documentation>Number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LMEIN" nillable="true" type="string">
        <annotation>
          <documentation>Base Unit of Measure</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="REGIO" nillable="true" type="string">
        <annotation>
          <documentation>Region (State, Province, County)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="VABME" nillable="true" type="ns3:E1EINAM_VABME">
        <annotation>
          <documentation>Variable order unit active</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LTSNR" nillable="true" type="string">
        <annotation>
          <documentation>Vendor Sub-Range</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LTSSF" nillable="true" type="string">
        <annotation>
          <documentation>Sort sequence number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="WGLIF" nillable="true" type="string">
        <annotation>
          <documentation>Vendor material group</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="18" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="RUECK" nillable="true" type="string">
        <annotation>
          <documentation>Return agreement</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LIFAB" nillable="true" type="string">
        <annotation>
          <documentation>Available (deliverable) from</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LIFBI" nillable="true" type="string">
        <annotation>
          <documentation>Available (deliverable) until</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="KOLIF" nillable="true" type="string">
        <annotation>
          <documentation>Prior vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ANZPU" nillable="true" type="string">
        <annotation>
          <documentation>Number of points</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="PUNEI" nillable="true" type="string">
        <annotation>
          <documentation>Points unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="RELIF" nillable="true" type="ns3:E1EINAM_RELIF">
        <annotation>
          <documentation>Regular vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="KDMAT35" nillable="true" type="string">
        <annotation>
          <documentation>Material Number used by Vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="35" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MATNR_EXTERNAL" nillable="true" type="string">
        <annotation>
          <documentation>Long material number (future development) for MATNR field</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="40" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MATNR_VERSION" nillable="true" type="string">
        <annotation>
          <documentation>Version number (future development) for MATNR field</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MATNR_GUID" nillable="true" type="string">
        <annotation>
          <documentation>External GUID (future development) for MATNR field</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="32" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MFRNR" nillable="true" type="string">
        <annotation>
          <documentation>Manufacturer number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="529" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EINAM" nillable="true" type="ns3:E1EINAM" />
  <simpleType name="E1EINAM_MSGFN">
    <restriction base="string">
      <enumeration value="003">
        <annotation>
          <documentation>Delete: Message contains objects to be deleted</documentation>
        </annotation>
      </enumeration>
      <enumeration value="004">
        <annotation>
          <documentation>Change: Message contains changes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="005">
        <annotation>
          <documentation>Replace: This message replaces previous messages</documentation>
        </annotation>
      </enumeration>
      <enumeration value="009">
        <annotation>
          <documentation>Original: First message for process</documentation>
        </annotation>
      </enumeration>
      <enumeration value="023">
        <annotation>
          <documentation>Wait/Adjust: Data should not be imported</documentation>
        </annotation>
      </enumeration>
      <enumeration value="018">
        <annotation>
          <documentation>Resend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINAM_MSGFN" nillable="true" type="ns3:E1EINAM_MSGFN" />
  <simpleType name="E1EINAM_LOEKZ">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINAM_LOEKZ" nillable="true" type="ns3:E1EINAM_LOEKZ" />
  <simpleType name="E1EINAM_VABME">
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Active</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Active with own price</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINAM_VABME" nillable="true" type="ns3:E1EINAM_VABME" />
  <simpleType name="E1EINAM_RELIF">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINAM_RELIF" nillable="true" type="ns3:E1EINAM_RELIF" />
  <complexType name="E1EALTH">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EALTH" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MSGFN" nillable="true" type="ns3:E1EALTH_MSGFN">
        <annotation>
          <documentation>Function</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDOBJECT" nillable="true" type="string">
        <annotation>
          <documentation>Texts: application object</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDNAME" nillable="true" type="string">
        <annotation>
          <documentation>Name</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="70" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDID" nillable="true" type="string">
        <annotation>
          <documentation>Text ID</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDSPRAS" nillable="true" type="string">
        <annotation>
          <documentation>Language key</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDTEXTTYPE" nillable="true" type="string">
        <annotation>
          <documentation>SAPscript: Format of Text</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="906" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EALTH" nillable="true" type="ns3:E1EALTH" />
  <simpleType name="E1EALTH_MSGFN">
    <restriction base="string">
      <enumeration value="003">
        <annotation>
          <documentation>Delete: Message contains objects to be deleted</documentation>
        </annotation>
      </enumeration>
      <enumeration value="004">
        <annotation>
          <documentation>Change: Message contains changes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="005">
        <annotation>
          <documentation>Replace: This message replaces previous messages</documentation>
        </annotation>
      </enumeration>
      <enumeration value="009">
        <annotation>
          <documentation>Original: First message for process</documentation>
        </annotation>
      </enumeration>
      <enumeration value="023">
        <annotation>
          <documentation>Wait/Adjust: Data should not be imported</documentation>
        </annotation>
      </enumeration>
      <enumeration value="018">
        <annotation>
          <documentation>Resend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EALTH_MSGFN" nillable="true" type="ns3:E1EALTH_MSGFN" />
  <complexType name="E1EALTL">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EALTL" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDFORMAT" nillable="true" type="string">
        <annotation>
          <documentation>Tag column</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDLINE" nillable="true" type="string">
        <annotation>
          <documentation>Text line</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="132" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="866" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EALTL" nillable="true" type="ns3:E1EALTL" />
  <complexType name="E2EALTHGRP">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="E2EALTH" type="ns3:E1EALTH">
        <annotation>
          <documentation>Text Identification for Purchasing Info Record: General Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="E2EALTH" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="9999" name="E2EALTL" type="ns3:E1EALTL">
        <annotation>
          <documentation>Text Line for Purchasing Info Record: General Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="E2EALTL" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="E1EINEM">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EINEM003" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MSGFN" nillable="true" type="ns3:E1EINEM_MSGFN">
        <annotation>
          <documentation>Function</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EKORG" nillable="true" type="string">
        <annotation>
          <documentation>Purchasing Organization</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ESOKZ" nillable="true" type="ns3:E1EINEM_ESOKZ">
        <annotation>
          <documentation>Purchasing info record category</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="WERKS" nillable="true" type="string">
        <annotation>
          <documentation>Plant</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="LOEKZ" nillable="true" type="ns3:E1EINEM_LOEKZ">
        <annotation>
          <documentation>Purch. info: Purch. organization data flagged for deletion</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ERDAT" nillable="true" type="string">
        <annotation>
          <documentation>Date on which the record was created</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ERNAM" nillable="true" type="string">
        <annotation>
          <documentation>Name of Person who Created the Object</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="12" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EKGRP" nillable="true" type="string">
        <annotation>
          <documentation>Purchasing group</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="WAERS" nillable="true" type="string">
        <annotation>
          <documentation>Currency Key</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BONUS" nillable="true" type="ns3:E1EINEM_BONUS">
        <annotation>
          <documentation>Indicator: Volume-based rebate</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MGBON" nillable="true" type="ns3:E1EINEM_MGBON">
        <annotation>
          <documentation>Indicator: Quantity-based volume rebate</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MINBM" nillable="true" type="string">
        <annotation>
          <documentation>Minimum purchase order quantity</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="NORBM" nillable="true" type="string">
        <annotation>
          <documentation>Standard purchase order quantity</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="APLFZ" nillable="true" type="string">
        <annotation>
          <documentation>Planned delivery time in days</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UEBTO" nillable="true" type="string">
        <annotation>
          <documentation>Overdelivery tolerance limit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UEBTK" nillable="true" type="ns3:E1EINEM_UEBTK">
        <annotation>
          <documentation>Indicator: Unlimited overdelivery allowed</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="UNTTO" nillable="true" type="string">
        <annotation>
          <documentation>Underdelivery tolerance limit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ANGNR" nillable="true" type="string">
        <annotation>
          <documentation>Quotation number</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ANGDT" nillable="true" type="string">
        <annotation>
          <documentation>Quotation validity date</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="ABSKZ" nillable="true" type="ns3:E1EINEM_ABSKZ">
        <annotation>
          <documentation>Rejection indicator</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="NETPR" nillable="true" type="string">
        <annotation>
          <documentation>Net price in purchasing info record</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="13" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="PEINH" nillable="true" type="string">
        <annotation>
          <documentation>Price unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BPRME" nillable="true" type="string">
        <annotation>
          <documentation>Order Price Unit (Purchasing)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="PRDAT" nillable="true" type="string">
        <annotation>
          <documentation>Date of price determination</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BPUMZ" nillable="true" type="string">
        <annotation>
          <documentation>Numerator for conversion of order price unit into order unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BPUMN" nillable="true" type="string">
        <annotation>
          <documentation>Denominator for conv. of order price unit into order unit</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MTXNO" nillable="true" type="ns3:E1EINEM_MTXNO">
        <annotation>
          <documentation>Material master record PO text not relevant</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="WEBRE" nillable="true" type="ns3:E1EINEM_WEBRE">
        <annotation>
          <documentation>Indicator: GR-based invoice verification</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EFFPR" nillable="true" type="string">
        <annotation>
          <documentation>Effective price in purchasing info record</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="13" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EKKOL" nillable="true" type="string">
        <annotation>
          <documentation>Condition group with vendor</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SKTOF" nillable="true" type="ns3:E1EINEM_SKTOF">
        <annotation>
          <documentation>No cash discount granted on this item</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="KZABS" nillable="true" type="ns3:E1EINEM_KZABS">
        <annotation>
          <documentation>Order acknowledgment requirement</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MWSKZ" nillable="true" type="string">
        <annotation>
          <documentation>Tax on sales/purchases code</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BWTAR" nillable="true" type="string">
        <annotation>
          <documentation>Valuation Type</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EBONU" nillable="true" type="string">
        <annotation>
          <documentation>Settlement group 1 (Purchasing)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EVERS" nillable="true" type="string">
        <annotation>
          <documentation>Shipping instructions</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EXPRF" nillable="true" type="string">
        <annotation>
          <documentation>Export/Import procedure for foreign trade (5 digits)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="5" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BSTAE" nillable="true" type="string">
        <annotation>
          <documentation>Confirmation control key</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MEPRF" nillable="true" type="ns3:E1EINEM_MEPRF">
        <annotation>
          <documentation>Pricing date category (controls date of price determination)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="INCO1" nillable="true" type="string">
        <annotation>
          <documentation>Incoterms (part 1)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="INCO2" nillable="true" type="string">
        <annotation>
          <documentation>Incoterms (part 2)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="28" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="XERSN" nillable="true" type="ns3:E1EINEM_XERSN">
        <annotation>
          <documentation>No evaluated receipt settlement (ERS)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EBON2" nillable="true" type="string">
        <annotation>
          <documentation>Settlement group 2 (rebate settlement, Purchasing)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EBON3" nillable="true" type="string">
        <annotation>
          <documentation>Settlement group 3 (rebate settlement, Purchasing)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EBONF" nillable="true" type="ns3:E1EINEM_EBONF">
        <annotation>
          <documentation>Item not relevant to subseq. (period-end rebate) settlement</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MHDRZ" nillable="true" type="string">
        <annotation>
          <documentation>Minimum remaining shelf life</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="VERID" nillable="true" type="string">
        <annotation>
          <documentation>Production Version</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="BSTMA" nillable="true" type="string">
        <annotation>
          <documentation>Maximum lot size</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="15" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="RDPRF" nillable="true" type="string">
        <annotation>
          <documentation>Rounding profile</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MEGRU" nillable="true" type="string">
        <annotation>
          <documentation>Unit of measure group</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="J_1BNBM" nillable="true" type="string">
        <annotation>
          <documentation>Brazilian NCM Code</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="IPRKZ" nillable="true" type="ns3:E1EINEM_IPRKZ">
        <annotation>
          <documentation>Period indicator for shelf life expiration date</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="EXPRF8" nillable="true" type="string">
        <annotation>
          <documentation>Export/Import Procedure for Foreign Trade (8 Characters)</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="8" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="702" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EINEM" nillable="true" type="ns3:E1EINEM" />
  <simpleType name="E1EINEM_MSGFN">
    <restriction base="string">
      <enumeration value="003">
        <annotation>
          <documentation>Delete: Message contains objects to be deleted</documentation>
        </annotation>
      </enumeration>
      <enumeration value="004">
        <annotation>
          <documentation>Change: Message contains changes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="005">
        <annotation>
          <documentation>Replace: This message replaces previous messages</documentation>
        </annotation>
      </enumeration>
      <enumeration value="009">
        <annotation>
          <documentation>Original: First message for process</documentation>
        </annotation>
      </enumeration>
      <enumeration value="023">
        <annotation>
          <documentation>Wait/Adjust: Data should not be imported</documentation>
        </annotation>
      </enumeration>
      <enumeration value="018">
        <annotation>
          <documentation>Resend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_MSGFN" nillable="true" type="ns3:E1EINEM_MSGFN" />
  <simpleType name="E1EINEM_ESOKZ">
    <restriction base="string">
      <enumeration value="0">
        <annotation>
          <documentation>Standard</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Consignment</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Subcontracting</documentation>
        </annotation>
      </enumeration>
      <enumeration value="P">
        <annotation>
          <documentation>Pipeline</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1">
        <annotation>
          <documentation>Chargeable</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_ESOKZ" nillable="true" type="ns3:E1EINEM_ESOKZ" />
  <simpleType name="E1EINEM_LOEKZ">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_LOEKZ" nillable="true" type="ns3:E1EINEM_LOEKZ" />
  <simpleType name="E1EINEM_BONUS">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_BONUS" nillable="true" type="ns3:E1EINEM_BONUS" />
  <simpleType name="E1EINEM_MGBON">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_MGBON" nillable="true" type="ns3:E1EINEM_MGBON" />
  <simpleType name="E1EINEM_UEBTK">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_UEBTK" nillable="true" type="ns3:E1EINEM_UEBTK" />
  <simpleType name="E1EINEM_ABSKZ">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_ABSKZ" nillable="true" type="ns3:E1EINEM_ABSKZ" />
  <simpleType name="E1EINEM_MTXNO">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_MTXNO" nillable="true" type="ns3:E1EINEM_MTXNO" />
  <simpleType name="E1EINEM_WEBRE">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_WEBRE" nillable="true" type="ns3:E1EINEM_WEBRE" />
  <simpleType name="E1EINEM_SKTOF">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_SKTOF" nillable="true" type="ns3:E1EINEM_SKTOF" />
  <simpleType name="E1EINEM_KZABS">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_KZABS" nillable="true" type="ns3:E1EINEM_KZABS" />
  <simpleType name="E1EINEM_MEPRF">
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Purchase order date</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Delivery date</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Current date</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4">
        <annotation>
          <documentation>Manual</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5">
        <annotation>
          <documentation>GR date</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_MEPRF" nillable="true" type="ns3:E1EINEM_MEPRF" />
  <simpleType name="E1EINEM_XERSN">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_XERSN" nillable="true" type="ns3:E1EINEM_XERSN" />
  <simpleType name="E1EINEM_EBONF">
    <restriction base="string">
      <enumeration value="X">
        <annotation>
          <documentation>Yes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_EBONF" nillable="true" type="ns3:E1EINEM_EBONF" />
  <simpleType name="E1EINEM_IPRKZ">
    <restriction base="string">
      <enumeration value="1">
        <annotation>
          <documentation>Week</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2">
        <annotation>
          <documentation>Month</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3">
        <annotation>
          <documentation>Year</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EINEM_IPRKZ" nillable="true" type="ns3:E1EINEM_IPRKZ" />
  <complexType name="E1EELTH">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EELTH" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="MSGFN" nillable="true" type="ns3:E1EELTH_MSGFN">
        <annotation>
          <documentation>Function</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDOBJECT" nillable="true" type="string">
        <annotation>
          <documentation>Texts: application object</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="10" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDNAME" nillable="true" type="string">
        <annotation>
          <documentation>Name</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="70" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDID" nillable="true" type="string">
        <annotation>
          <documentation>Text ID</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="4" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDSPRAS" nillable="true" type="string">
        <annotation>
          <documentation>Language key</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="1" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDTEXTTYPE" nillable="true" type="string">
        <annotation>
          <documentation>SAPscript: Format of Text</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="906" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EELTH" nillable="true" type="ns3:E1EELTH" />
  <simpleType name="E1EELTH_MSGFN">
    <restriction base="string">
      <enumeration value="003">
        <annotation>
          <documentation>Delete: Message contains objects to be deleted</documentation>
        </annotation>
      </enumeration>
      <enumeration value="004">
        <annotation>
          <documentation>Change: Message contains changes</documentation>
        </annotation>
      </enumeration>
      <enumeration value="005">
        <annotation>
          <documentation>Replace: This message replaces previous messages</documentation>
        </annotation>
      </enumeration>
      <enumeration value="009">
        <annotation>
          <documentation>Original: First message for process</documentation>
        </annotation>
      </enumeration>
      <enumeration value="023">
        <annotation>
          <documentation>Wait/Adjust: Data should not be imported</documentation>
        </annotation>
      </enumeration>
      <enumeration value="018">
        <annotation>
          <documentation>Resend</documentation>
        </annotation>
      </enumeration>
      <enumeration value="">
        <annotation>
          <documentation>Initial: Accept blanks</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <element name="E1EELTH_MSGFN" nillable="true" type="ns3:E1EELTH_MSGFN" />
  <complexType name="E1EELTL">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="0" maxOccurs="1" default="E2EELTL" name="DATAHEADERCOLUMN_SEGNAM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="30" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_MANDT" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="3" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_DOCNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="16" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_SEGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_PSGNUM" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="6" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="DATAHEADERCOLUMN_HLEVEL" nillable="true" type="string">
        <annotation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDFORMAT" nillable="true" type="string">
        <annotation>
          <documentation>Tag column</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="2" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="TDLINE" nillable="true" type="string">
        <annotation>
          <documentation>Text line</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="132" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="1" name="SEGMENTPAD" nillable="true" type="string">
        <annotation>
          <documentation>Padding White Spaces against the Total Segment Length</documentation>
          <appinfo>
            <fieldInfo pad_char="0x20" pad_char_type="hex" justification="left" pos_offset="0" pos_length="866" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </fieldInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <element name="E1EELTL" nillable="true" type="ns3:E1EELTL" />
  <complexType name="E2EELTHGRP">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="E2EELTH" type="ns3:E1EELTH">
        <annotation>
          <documentation>Text ID for Purchasing Info Record: Purchasing Org. Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="E2EELTH" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="9999" name="E2EELTL" type="ns3:E1EELTL">
        <annotation>
          <documentation>Text Line for Purchasing Info Record: Purchasing Org. Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="2" tag_name="E2EELTL" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="E2EINEM003GRP">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="E2EINEM003" type="ns3:E1EINEM">
        <annotation>
          <documentation>Purchasing Info Record: Purchasing Organization Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="E2EINEM003" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="999" name="E2EELTHGRP" type="ns3:E2EELTHGRP">
        <annotation>
          <appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="2" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="E2EINAM003GRP">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element minOccurs="1" maxOccurs="1" name="E2EINAM003" type="ns3:E1EINAM">
        <annotation>
          <documentation>Purchasing Info Record: General Data</documentation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="E2EINAM003" tag_offset="0" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="999" name="E2EALTHGRP" type="ns3:E2EALTHGRP">
        <annotation>
          <appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="2" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="0" maxOccurs="9999" name="E2EINEM003GRP" type="ns3:E2EINEM003GRP">
        <annotation>
          <appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="3" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="INFRECMASS01">
    <annotation>
      <appinfo>
        <groupInfo sequence_number="0" xmlns="http://schemas.microsoft.com/BizTalk/2003">
        </groupInfo>
      </appinfo>
    </annotation>
    <sequence>
      <element xmlns:q1="http://Microsoft.LobServices.Sap/2007/03/Types/Idoc/Common/" minOccurs="1" maxOccurs="1" name="EDI_DC40" type="q1:EDI_DC40">
        <annotation>
          <appinfo>
            <recordInfo structure="positional" sequence_number="1" tag_name="INFRECMASS01" tag_offset="39" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
      <element minOccurs="1" maxOccurs="999999" name="E2EINAM003GRP" type="ns3:E2EINAM003GRP">
        <annotation>
          <appinfo>
            <recordInfo structure="delimited" child_delimiter_type="hex" child_delimiter="0xd 0xa" child_order="infix" sequence_number="2" preserve_delimiter_for_empty_data="True" suppress_trailing_delimiters="False" xmlns="http://schemas.microsoft.com/BizTalk/2003">
            </recordInfo>
          </appinfo>
        </annotation>
      </element>
    </sequence>
  </complexType>
</schema>